<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dmi.minesafety.demo">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <application
            android:name=".MineSafetyApplication"
            android:allowBackup="true"
            android:icon="@drawable/icon_logo"
            android:label="@string/app_name"
            android:theme="@style/AppThemeBar">
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyCGGTuNfh_pC74CCK8F8i6eUQe5_wWxFDk"/>

        <activity
                android:name=".activity.SplashScreenActivity"
                android:label="@string/action_bar_title"
                android:screenOrientation="landscape"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/action_bar_title"
                android:screenOrientation="landscape"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.default_searchable"
                    android:value="com.dmi.minesafety.demo.MainActivity"/>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity
                android:name=".activity.CapturePhotoActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/action_bar_title"
                android:screenOrientation="landscape"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name=".activity.InspectionOptionsActivity"
                android:label="@string/action_bar_title"
                android:screenOrientation="landscape"/>
        <activity
                android:name=".activity.MineMapActivity"
                android:label="@string/action_bar_title"
                android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.default_searchable"
                    android:value="com.dmi.minesafety.demo.MineMapActivity"/>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity

                android:name=".activity.MakeNoteActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/action_bar_title"
                android:screenOrientation="landscape"
                android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
                android:name=".activity.RecordAudioActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/action_bar_title"
                android:screenOrientation="landscape"
                android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity

                android:name=".activity.SignatureDialogActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/action_bar_title"
                android:theme="@style/Theme.AppCompat.Light.Dialog"
                android:screenOrientation="landscape"
                android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
                android:screenOrientation="landscape"
                android:name=".activity.DocumentListActivity"
                android:label="@string/title_document_list"/>
        <activity
                android:screenOrientation="landscape"
                android:name=".activity.SimpleScannerActivity"/>
        <activity
                android:screenOrientation="landscape"
                android:name=".activity.CitationFormActivity"
                android:configChanges="orientation|keyboardHidden"
                android:windowSoftInputMode="stateAlwaysHidden">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>


        <activity
                android:screenOrientation="landscape"
                android:name=".activity.DocumentDetailActivity"
                android:label="@string/title_document_detail"
                android:parentActivityName=".activity.DocumentListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.DocumentListActivity"/>
        </activity>
    </application>

</manifest>
